* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  min-height: 100%;
}

.image1 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-image: url(./Images/image1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-image: url(./Images/image2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.image3 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-image: url(./Images/image3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image4 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-image: url(./Images/image1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content {
  background-color: #313534;
  color: white;
  padding: 1rem;
  font-size: clamp(1.25rem, 4vw, 2.5rem);
  letter-spacing: 0.25rem;
  text-align: center;
}

.text-content {
  text-align: center;
  padding: 3rem 2rem;
  /* padding: clamp(2rem,8vw,3.5rem); */
  color: #666666;

}

.text-content h1 {
  margin-bottom: 1rem;

  font-size: clamp(24px, 8vw, 48px);
  font-weight: 500;
}

.text-content p {
  font-size: clamp(0.75rem, 6vw, 1rem);
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-align: justify;
}

.two,
.three {
  background-color: #282e34;
  color: #dddddd;
}

